/* / Desktop 1600px   / */
@media (max-width: 1850px) {}

/* / Desktop 1440px   / */
@media (max-width: 1440px) {}

/* / Desktop 1280px   / */
@media (max-width: 1200px) {
    #design ._right .img2{
        width: 100%;
        height: 635px;
    }
}

/* / iPad 1024px   / */
@media (max-width: 1100px) {
    header nav .hvr{
        display: none;
    }
    header nav ul #sidemenu{
        display: block;
    }
    #home{
        background-position: center;
    }
}

/* / iPad 991px   / */
@media (max-width: 991.5px) {
    #home .content{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.543);
        backdrop-filter: blur(5px);
    }
    #design ._right .img2{
        width: 100%;
        height: 510px;
    }
    #design ._hover .add{
        height: 70px;
        width: 70px;
    }
}

/* / Iphone 767px  / */
@media (max-width: 767px) {
    #home .content h1{
        font-size: 50px;
    }
    #innovate img{
        width:300px;
    }
    #design ._right .img2{
        width: 100%;
        height: 442px;
    }
    #design ._hover .add{
        height: 50px;
        width: 50px;
    }
    footer .info{
        margin-top:40%;
      }
    
}
@media (max-width:575.5px){
    #product img{
        width: 40%;
        margin: 0 30%;
    }
    #design ._right .img2{
        width: 100%;
        height:100%;
    }
    #design ._hover .add{
        height: 80px;
        width: 80px;
    }
}
/* / Iphone 567px   / */
@media (max-width: 567px) {
    header nav img{
        width: 150px;
    }
}
@media (max-width: 527px) {
    #home .content h1{
        font-size: 40px;
    }
}

/* / Mobile 375px   / */
@media (max-width: 375px) {}

/* / Mobile 360px   / */
@media (max-width: 360px) {}

/* / Mobile 320px   / */
@media (max-width: 320px) {}
