@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body{
} */
.card{
    border: none;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    border-left:10px solid black;
    border-right:10px solid black;

    border-radius: 5px;
}
.card .head{
    background-color: rgba(128, 128, 128, 0.077);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.card .head .left {
    display: flex;
    align-items: center;
}
.card .head .left img{
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}
.card .head .left h4{
    margin: 0;
}
.card .head .left span{
    font-size: 12px;
}
.card .head .right{
    margin: 0 20px 0 0;
}
.card .head .right .date{
    border-bottom: 2px solid black;
    text-align: center;
}
.card .head .right .date span{
    color:#34495E;
}
.card .additem{
    background-color: black;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:5px;
    border-radius: 30px;
    margin: 5px 0;
}
.card #add{
    border-radius: 50%;
}
.card .content{
   height: 400px;
   overflow-y: scroll;
   margin-bottom: 20px;
   padding-bottom: 10px;
}
 ::-webkit-scrollbar{
    width: 10px;
    height: 8px; 
}
 
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;

}

.card table thead td{
    text-align: center;
}
.card table td input{
    width: 100%;
    margin: 0;
    padding: 5px;
    border: none;
    outline: none;
}

.card #finalresult{
    position:sticky;
    bottom: 0;
    z-index: 10;
}
.card #finalresult tbody{
    background-color: white;
    color: black;
}
.card #finalresult tbody tr td{
    text-align: center;
}
.fa-indian-rupee-sign{
    font-size: 22px;
}

