*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card{
    border: none;
    border-top: 10px solid red;
    border-radius: 0px;
}
.card .head{
    background-color: rgba(128, 128, 128, 0.077);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.card .head .left {
    display: flex;
    align-items: center;
}
.card .head .left img{
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}
.card .head .left h4{
    margin: 0;
}
.card .head .left span{
    font-size: 12px;
}
.card .head .right{
    margin: 0 20px 0 0;
}
.card .head .right .date{
    border-bottom: 2px solid black;
    text-align: center;
}
.card .head .right .date span{
    color:#34495E;
}
.card table thead td{
    text-align: center;
}
.card table td input{
    width: 100%;
    margin: 0;
    padding: 5px;
    border: none;
    outline: none;
}